.section-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.new-subtitle {
  font-size: 1.5rem;
  color: #444444;
}
.new-content {
  color: #444444;
  text-align: justify;
}
