.section-coordinador {
  .info-representante {
    p {
      span {
        font-weight: 700;
      }
    }
  }
}
.sport-bg-image {
  height: 400px;
  background-size: cover;
  background-position: 50% 60%; 
}