@import "_variable.scss";

.user-grid-container {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.create-user-button {
  align-self: flex-end;
}

.user-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
